/* assets/style.css */

body {
    font-family: "Lato", sans-serif;
    color: #222222;
    margin: 0;
    background-color: #F7F7F7;
}

.home-text{
    font-size: 80px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.header {
    background-color: #222222;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-compare{
    background-color: #222222;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-teams{
    background-color: #222222;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.header-description {
    color: #FFFFFF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.player-header-text {
    color: #CFCFCF;
    text-align: center;
    vertical-align: middle;
}

.home-text {
    color: #222222;
    text-align: center;
    vertical-align: middle;
}

.teams-text{
    text-align: center;
    vertical-align: middle;
}
.align-center{
    color: #CFCFCF;
    text-align: center;
}

.list-players-seasons{
    text-align: center;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

#main-title-div {
    font-weight: bold;
    background-color:#222222;
    color: white;
}