/* assets/style.css */
:root {
  --bg: #e6e6e6;
  --bg-elev: #131720;
  --panel: #12141a;
  --text: #0b0c10;
  --text-player-card: #e6e6e6;
  --muted: #a0a6b2;
  --brand: #4f8cff;
  --brand2: #0149cf;
  --border: #1f2430;
  --chip: #1a1f2b;
  --basket: #e95420;
  --radius: 12px;
}


body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: var(--bg);
}

.player-header {
    color: var(--text-player-card);
    margin: auto;
}


body .home-text{
    font-size: 80px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    color: var(--bg);
}
/*
div {
    border-radius: var(--radius);
}
*/

h2 .center {
    align-items: center;
}

.header {
    background-color: var(--bg-elev);
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-compare{
    background-color: var(bg);
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-teams{
    background-color: var(--bg);
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.header-description {
    color: #FFFFFF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.player-header-text {
    color: #CFCFCF;
    text-align: center;
    vertical-align: middle;
}

.home-text {
    color: #222222;
    text-align: center;
    vertical-align: middle;
}

.teams-text{
    text-align: center;
    vertical-align: middle;
}
/*
.align-center{
    color: #CFCFCF;
    text-align: center;
}
*/
.list-players-seasons{
    text-align: center;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

#main-title-div {
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding: 1rem;
    background-color: var(--bg-elev);
}

#navbar-title-card {
    background-color: var(--bg-elev);
    margin: 0;
    padding: 16px;
}

.compare-player-button-div {
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--basket);
    color: var(--basket);
}

button{
    border-radius: var(--radius);
    background-color: var(--basket);
    color: var(--text-player-card);
}